* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px ;
    background-color: rgb(95, 95, 95);
}
.hariy{
    width: 100%;
    height: 200px;
    background-color: rgb(61, 61, 61);
    border-radius: 50px 50px 0 0;
    position: relative;

}
.hariy p {
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 30px ;
    color: white;

}
.display {
    width: 500px;
    height: 690px;
    background-color: rgb(46, 46, 46);
    border-radius: 50px;
}
/* 200 + 440 + 110 */
.input {
    width: 100%;
    height: 500px;
}
.buttons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(83, 83, 83);
    border: none;
    font-size: 35px;
    color: white;
}
button:hover {
    background-color: rgb(120, 120, 120);
    border: 1px solid white;
}
.ochiroo {
    background-color: rgb(255, 136, 0);
}
.ochiroo:hover {
    background-color: rgb(253, 182, 102);
}
